<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
      <form action="/book/add" method="post" enctype="multipart/form-data">
        <input type="text" name="title" id="" placeholder="enter the name" required>
        <input type="text" name="author" id="" placeholder="enter the author" required>
        <input type="text" name="year" id="" placeholder="enter the year" required>
        <input type="file" name="imageUrl" id="" required>
        <button type="submit">Submit to Add</button> 
      </form>

</body>
</html>